@import "../../../../../../node_modules/ds_carousel_slider/lib/ds_comp/ds_comp.css";
.container {
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title1{
    margin-top: 100px;
    height: 70px;
}
.title2{
    height: 60px;
}
